<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appSettings>
        <!-- El nombre de la aplicación Django 'ApiRest' y el módulo 'wsgi' se ajustan a la estructura de tus carpetas -->
        <add key="WSGI_HANDLER" value="ApiRest.wsgi.application" />
        <!-- La ruta al directorio donde está ubicado el 'manage.py' de Django -->
        <add key="PYTHONPATH" value="C:\inetpub\wwwroot\x\ApiRest" />
        <!-- Indica el módulo de configuración de Django, esto debe coincidir con la estructura de tus carpetas -->
        <add key="DJANGO_SETTINGS_MODULE" value="ApiRest.settings" />
        <!-- La ruta a la instalación de Python que estás utilizando -->
    </appSettings>
    <system.webServer>
       
        <handlers>
            <add name="DjangoFastCGI" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\Users\Administrador\AppData\Local\Programs\Python\Python312\python.exe|C:\Users\Administrador\AppData\Local\Programs\Python\Python312\Lib\site-packages\wfastcgi.py" resourceType="Unspecified" />
           
        </handlers>
    </system.webServer>
    
</configuration>
